/* 
Flexbox works with parents and children only (container and items)
No grandchildren or grandparents.

Flex items get bigger with their content like inline elements do.
flex-flow specify
- flex direction (row/column)
- flex wrap (should the boxes wrap on to another line wrap/nowrap)
  - on nowrap it tries very hard to shrink the items, maybe by wrapping 
    the text inside the boxes
justify-content specifies how to position the content (start/end/center/spaced)
 */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

/*
flex-basis defines the width of your flex item. Make it x%, kind of. Make it more
or less if required to fit properly
*/
li {
  border: 3px solid blue;
  flex-basis: 10%;
}